[Unit]
Description=Check Coffee Passport IP TLS renewal every six hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:15:00 UTC
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
